
@keyframes myAnimation {
    0% {background-color:red; left:0px; top:0px;}
    25% {background-color: yellow; left:200px; top:0px;}
    50% {background-color: lightcoral; left:200px; top:200px;}
    75% {background-color: orange; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(lightblue,black);
}
#map {
    height: 100svh;
    width: 100vw;
    margin: 0;
    background-size: 100% 100%;
    z-index: 1;



    
    
    
}


#QuestionBox {
    position:absolute;
    top:20px;
    left: 20px;
    width: 150px;
    height: auto;
    z-index: 1000;
    
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fish-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}



#submit-button {
    font-size: 18px;
    padding: 10px 50px;
    color: black;
    background-color: white;
    border-radius: 25px;
    cursor:grab;
    box-shadow: 0 5px 10px black;
    justify-content: center;
    align-items: center;
    display: flex;
    

}

/* #submit-button {
    justify-content: center;
    align-items: center;
    display: flex;

    
} */