
@keyframes ChangingColors {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(132deg, #E6F6FF, green,#5b56f7,white);
    background-size: 400% 400%;
    animation: ChangingColors 15s ease infinite;
}
#map {
    height: 100%;
    width: 100%;
    margin: 20px auto;
    /*border-radius: 30px;*/
    border-style: none;
    border-radius: 15px;
    position:absolute;
    
    width: 200vw;
    min-height: 200svh;
    background-repeat: repeat;
}



#fish-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}


#submit-butto:before {
    font-size: 18px;
    padding: 10px;
    border: 2px solid;
    color: black;
    background-color: white;
    border-radius: 25px;
    cursor:grab;
    box-shadow: 0 5px 10px black


    
}
#submit-button::after {

}
#submit-button:hover {
    background-color: black;
    color: white
}